body {
  min-height: 100px;
}

.jumbotron {
  padding-top: 6rem;
  background-color: darkcyan;
}

#pendidikan {
  padding-top: 3rem;
}

#galeri {
  padding-top: 6rem;
  padding-bottom: 2rem;
}
